{% extends "base.j2" %}
{% block title %}Index{% endblock %}

{% block content %}
<h1>Lean Chemical Theories</h1>

<p>This web page is a collection of lean documentation, with a semi-interactive viewer, for the paper 
<b>Formalizing Chemical Theory using the Lean Theorem Prover</b> 
by <a target="_blank" href ="https://atomslab.github.io/"> ATOMS Lab </a> 
at the University of Maryland Baltimore County.</p>


<h2>GitHub repository</h2>
<p>We have a <a target ="_blank" href = "https://github.com/ATOMSLab/LeanChemicalTheories/tree/static-branch_2023-06-18">
static branch </a> of our repository where all the proofs are in the state as it was on 2023/06/22, to align with the code referenced in the paper. 
It compiles with Lean version 3.51.1 and mathlib commit `f2ad3645af9effcdb587637dc28a6074edc813f9` 
and has been reproduced on both Windows and MacOS operating systems.

<p>The codes will likely evolve to keep up with updates to Lean and mathlib versions. 
The most up-to-date version can be found in the main branch which is also deployed 
on this website.</p>


<p>On the left menu, the "General" section provide links with extra
information about mathlib and Lean. The "Library" section contains 
dropdown subsections according to mathlib's tree structure.</p>

<p>
The instructions to install Lean, mathlib, and supporting tools are on the official 
<a target="_blank" href ="https://leanprover-community.github.io/lean3/get_started.html"> Lean 3 community website</a> 
which has been archived and is currently being deprecated.
</p>
{% endblock %}
